{% extends "base_layout.html" %}
{% block title %}Welcome to WWMM7799 - MY PAGE, {{ user_name }}!{% endblock %}
{% block first_message %}{{ user_name }}'s PAGE{% endblock %}
{% block main_content %}
<div class="row-fluid">
  <div class="span12">
    <div class="progress">
      <div class="bar" style="width: 60%;"></div>
    </div>
  </div>
</div>
<hr />
<div class="row-fluid">
  <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
    simple collapsible
  </button>
  <div id="demo" class="collapse in"> … </div>
</div>
<hr />
<div class="row-fluid">
  <div class="span12">
    <!-- Button to trigger modal -->
    <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">Modal header</h3>
      </div>
      <div class="modal-body">
	<p>One fine body…</p>
      </div>
      <div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	<button class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row-fluid">
  <div class="span12">
    <ul class="thumbnails">
      <li class="span4">
	<a href="#" class="thumbnail">
	  <img src="http://apod.nasa.gov/apod/image/9712/orionfull_jcc_big.jpg" alt="">
	</a>
      </li>
      <li class="span4">
	<a href="#" class="thumbnail">
	  <img src="http://apod.nasa.gov/apod/image/9712/orionfull_jcc_big.jpg" alt="">
	</a>
      </li>
      <li class="span4">
	<a href="#" class="thumbnail">
	  <img src="http://apod.nasa.gov/apod/image/9712/orionfull_jcc_big.jpg" alt="">
	</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
